<div class= "navbar">
ACÁ NAVBAR
</div>
<div class= container>
  <h1>Tus Películas</h1>

  <div class= "card">
  <ul>
    <% @list.each do |list| %>
      <li>
      <%= link_to(list.name, list_path(list))%>
      
      </li>
    <% end %>
  </ul> 
  </div>

  <div>
  <%= link_to "crear categoría", new_list_path, class: "btn btn-primary" %>
  </div>
  <h2>Lo más comentado</h2>

  

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Los Puentes de Madison</h5>
      <p class="card-text">En el condado de Madison, Francesca es una ama de casa recibe la visita de Robert, un fotógrafo de National Geographic.</p>
      </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Dirigida por Clint Eastwood</li>
        <li class="list-group-item">Drama Romántico</li>
        <li class="list-group-item">Puntuación</li>
    </ul>
    
    <div class="card-body">
      <a href="#" class="card-link">deja tu comentario</a>
      <a href="#" class="card-link">Ver ahora</a>
    </div>

</div>
