<div class= "navbar" >
<h2>Revisa más títulos</h2>
</div>
<div class= "container">
  <%= simple_form_for (@list) do |f| %>
  <h5><strong><%= f.input :name%></strong></h5>
  <ul>
    <li>resultado busqueda</li>

  
  <p><%= f.button :submit, class: "btn btn-primary" %>
    <%=link_to("Volver", lists_path)%></p>
<% end %>
</div>