.btn-yours {
    box-shadow: teal;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    width: 150px;
    height: 60px;
    padding: 15px 45px;
    text-align: center;
    color: white;
    border-width: 300px;
    border-radius: 5px;
    background-color: teal;
    text-decoration: none;
}

.btn-yours:hover {
    background-color:mediumturquoise;
}