<h2><% @list.movies.each do |movie| %></h2>

<ul>
    <%bookmark = Bookmark.find_by(list: @list, movie: movie)%>
    <li>
    <%movie.title%>
    <br/>
    <%bookmark.comment%>
    <%= link_to "delete bookmark", bookmark_path(bookmark), method: :delete %>>
    </li>
    <%end%>
</ul>

<%=link_to("Volver", list_path)%>

<h2><%= @list.name %></h2>

<ul>
